.game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;

}

#dino{
    background-color: rebeccapurple ;
    height: 50px;
    position: relative;
    top: 150px;
    width: 50px;
    animation: pulo 0.5s;

    
}

@keyframes pulo {
    0%{top: 150px;}
    25%{top: 120px;}
    50%{top: 80px;}
    75%{ top: 120px;}
    100%{top: 150px;}

}